.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: ;
  background-color: #f4f6fb;
}

.navbar-section {
  width: 100%;
  height: auto;
  padding: 1rem;
  /* background-color: #F4F6FB; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-section .logo span {
  color: orangered;
}

.navbar-nav ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.navbar-nav ul li,
.cv-btn {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.navbar-nav ul li .navlink {
  text-decoration: none;
  color: #000;
}

.navbar-section .navbar-nav ul li .navlink::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #3dbe29;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar-section .navbar-nav ul li .navlink.active::after {
  width: 100%;
}

.navbar-section .navbar-nav ul li .navlink:hover::after {
  width: 100%;
}

.cv-btn {
  width: fit-content;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: orangered;
  color: #fff;
  transition: 0.5s;
}

.cv-btn:hover {
  background: #a5f4f4;
  color: #000;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.content-section {
  /* background: #F4F6FB; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section img {
  width: 475px;
  height: auto;
}

.intro {
  margin-top: 100px;
  /* margin-left: 90px; */
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  box-shadow: #eef0f6 10px 10px;
}

.intro p {
  font-size: 1.2rem;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.service {
  margin-top: 80px;
  /* margin-left: 100px; */
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service p {
  margin: 0.5rem;
  font-size: 1.1rem;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.experience {
  margin-top: 50px;
  margin-left: 5rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  color: #a5a6a6;
  border: 1px solid #b4c5f0;
  outline: none;
  border-radius: 1.5rem;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  z-index: 999;
}

.experience p span {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
}

.experience p {
  font-size: 1rem;

  color: #a5a6a6;
}

.describe {
  width: 21rem;
  margin-left: -20px;
  height: fit-content;
  padding: 1.5rem;
  color: #a5a6a6;
  border: 1px solid #b4c5f0;
  outline: none;
  border-radius: 1.5rem;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  z-index: 999;
}

.describe span {
  margin: 0 0 15px 0;
  width: 50px;
  height: 50px;
  background: #cce9ec;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.describe p {
  font-size: 1.1rem;
}

.contact {
  margin-top: 80px;
  margin-left: 60px;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}

.contact p {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.certified {
  margin-top: 60px;
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem;

  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}

.certified p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #a5a6a6;
}

/* about me section */
.about-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.about-section .about-content {
  width: 70%;
  height: 500px;
  margin-top: 7rem;
  padding: 1rem 3rem;
  display: flex;
  gap: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-content .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content .about-img {
  width: 400px;
  height: 400px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #3dbe29;
}

.about-content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about-section .about-content .right h1 {
  margin-top: 3.5rem;
  font-size: 3rem;
  letter-spacing: 2px;
}

.about-section .about-content .right p {
  margin-top: 1rem;
  color: #b0a2a7;
}

.about-section .about-content .right .social-icon {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

.about-section .about-content .right .social-icon span {
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #f4d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}

.about-section .about-content .right .social-icon span:hover {
  background-color: #e6dff5;
  transform: translateY(-5%);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

/* service section */

.service-section {
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
  padding: 1rem;
  background-color: #f4f6fb;
  position: relative;
  /* text-align: center; */
}

.service-section .service-content .service-text,
.achievement-section .achievement-content .achievement-text {
  width: 40%;
  margin: 5rem auto;
  text-align: center;
}

.service-section .service-content .service-text p.title-p,
.achievement-section .achievement-content .achievement-text p.title-p {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: normal;
  font-weight: 600;
  color: #9a9a9a;
}

.service-section .service-content .service-text p,
.achievement-section .achievement-content .achievement-text p {
  /* margin-bottom: .6rem; */
  font-size: 1.1rem;
  color: #9a9a9a;
}

.service-section .service-content .service-text h2,
.achievement-section .achievement-content .achievement-text h2 {
  margin-bottom: 0.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: #1c2f50;
}

.service-section .service-content .service-card-grp {
  /* margin: 0 auto; */
  padding: 0 6rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.service-card {
  width: 400px;
  margin: 20px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 14px;
  transition: 0.5s;
}

.service-card:hover {
  transform: translateY(-5%);
}

.service-card span {
  width: fit-content;
  padding: 0.7rem;
  background-color: #a5f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.service-section .service-card .card-title h3 {
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.service-section .service-card .card-content p {
  color: #9a9a9a;
  font-size: 17px;
}

.achievement-section {
  width: 100%;
  margin-bottom: 5rem;
  padding: 1rem;
  position: relative;
}

.achievement-card-grp {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.counter-card {
  width: 270px;
  margin: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f6fb;
  border-radius: 14px;
}

/* project section */
.project-section {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  background: #f4f6fb;
}

.project-text {
  width: 100%;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.project-text .titles h2 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #2a3c5b;
}

.project-text .titles p {
  font-size: 17px;
  color: #9a9a9a;
  margin-bottom: 1rem;
}

.project-text .more-link {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  color: #2a3c5b;
  justify-content: center;
}

.project-slider {
  width: 80%;
  margin: 1rem auto;
}

.project-card {
  width: fit-content;
  padding: 1rem;
  /* background-color: #fff; */
  /* margin: 0 1rem; */
  /* border: 1px solid; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.project-section .project-card .card-img {
  width: fit-content;
  height: fit-content;
}

.project-card .project-title {
  background-color: #fff;
  /* z-index: 999; */
}

.project-card h2 {
  padding: 1rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #2a3c5b;
}

.project-card p {
  padding: 0 1rem 1rem 1rem;
  font-size: 17px;
  text-transform: capitalize;
  color: #9a9a9a;
}

.project-card img {
  width: 100%;
  height: 350px;
  border: none;
  outline: none;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  z-index: -1;
}

/*============== contact section ==============*/
.contact-section {
  margin-top: 10rem;
  /* need to remve after complete */
  padding: 10px;
  width: 100%;
  height: 600px;
  background-color: #f4f6fb;
}

.contact-section .contact-content {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.contact-section .contact-content .contact-title h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #2a3c5b;
}

.contact-section .contact-content .contact-title p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #9a9a9a;
}

.contact-section .contact-content .contact-detail {
  margin-top: 2rem;
  color: #2a3c5b;
}

.contact-section .contact-content .contact-detail h2 {
  font-size: 18px;
  color: #2a3c5b;
}

.contact-section .contact-content .contact-detail .address,
.contact-section .contact-content .contact-detail .phone,
.contact-section .contact-content .contact-detail .support {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.contact-section .contact-content .contact-detail .address p,
.contact-section .contact-content .contact-detail .phone p,
.contact-section .contact-content .contact-detail .support p {
  font-size: 17px;
  color: #2a3c5b;
}

.contact-section .contact-content .contact-form {
  margin-top: 2rem;
  margin-bottom: -10rem;
  width: 650px;
  padding: 3rem 2rem 1rem 2rem;
  border-left: 4px solid #2a3c5b;
  /* outline: none;   */
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
}

.contact-section .contact-content .contact-form p {
  font-size: 17px;
  color: #9a9a9a;
}

.contact-section .contact-content .contact-form p.title {
  font-weight: 600;
}


.contact-section .contact-content .contact-form h2 {
  margin: .3rem 0;
  font-size: 2rem;
  color: #2a3c5b;
}

.contact-section .contact-content .contact-form form {
  margin-top: 1rem;
}

/* 
.contact-section .contact-content .contact-form form .input-group{
 margin:  0 1rem; 
} */

.contact-section .contact-content .contact-form form .input-box {
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
  font-size: 1rem;
}

/*================= foooter section =================*/
.footer-section {
  width: 100%;
  height: 500px;
  padding-top: 10rem;
  background-color: #1c2f50;
  color: #fff;
  position: relative;
}

.footer-section .footer-content .footer-top {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto;
}

.footer-section .footer-content .footer-top .footer-info {
  width: 400px;
}

.footer-section .footer-content .footer-top .footer-info h2 span {
  margin-bottom: 1rem;
  color: #3dbe29;
}

.footer-section .footer-content .footer-top .footer-info p {
  font-size: 17px;
  margin: 1rem 0;
  color: #9a9a9a;
}



.footer-section .footer-content .footer-top h2 {
  margin-bottom: 1rem;
}

.footer-section .footer-content .footer-top ul {
  width: auto;
  list-style: none;

}

.footer-section .footer-content .footer-top ul li {
  margin-bottom: .5rem;
  font-size: 17px;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #9a9a9a;
  transition: .5s;
}

.footer-section .footer-content .footer-top ul li:hover {
  transform: translateX(3%);
}

.footer-section .footer-content .footer-top .newsletter p {
  margin-bottom: 2rem;
  font-size: 17px;
}

/* .footer-section .footer-content .footer-top .newsletter .subscribe-input {
  width: 100%;
} */

.footer-section .footer-content .footer-top .newsletter .subscribe-input input,
.footer-section .footer-content .footer-top .newsletter .subscribe-input button {
  width: fit-content;
  font-size: 17px;
  padding: 1rem;
  border: none;
  outline: none;

}

.footer-section .footer-content .footer-top .newsletter .subscribe-input button {
  background: #2fb4ae;
  color: #fff;
}

.footer-section .footer-content .footer-bottom {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  background: #15233b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}